Repository Real-Dev-Squad/website-www, pull requests merged in 2023-10, with the labels that each got.

#689 [Live Site]: Remove kick out option for host
  app/components/live-participants.hbs
  tests/integration/components/live-participants-test.js
Labels: live-site

#700 profile service url linking page on identity service setup
  app/components/identity-steps/step-six.hbs
  app/components/identity-steps/step-six.js
  app/components/stepper-signup.hbs
  app/styles/onboarding-card.module.css
  tests/integration/components/identity-steps/step-six-test.js
Labels: OnboardingFlow

#711 [Live-Site] Created UI for event logs feature
  app/components/events/logs-page.hbs
  app/components/events/logs-page.js
  app/controllers/live.js
  app/styles/app.css
  app/styles/logs-page.module.css
  app/templates/live.hbs
  tests/integration/components/events/logs-page-test.js
Labels: live-site

#701 [Live-Site] Add warning modal before event end
  app/components/kickout-modal.hbs
  app/components/kickout-modal.js
  app/components/live-panel.hbs
  app/controllers/live.js
  app/styles/kickout-modal.module.css
  app/templates/live.hbs
  tests/integration/components/live-panel-test.js
Labels: live-site

#713 [Ember Migration] Footer Changes
  app/components/events.hbs
  app/components/events.js
  app/components/footer.hbs
  app/components/footer.js
  app/constants/events-data.js
  app/styles/app.css
  app/styles/events.module.css
  app/styles/footer.module.css
  app/styles/variables.css
  tests/acceptance/migration-changes-under-feature-flag-test.js
  tests/constants/events-data.js
  tests/integration/components/events-test.js
Labels: ember-migration

#692 [Live-site] - Fix the Loader when kicking out the participants
  app/components/live-participants.hbs
  app/components/live-sidebar.hbs
  app/templates/live.hbs
Labels: live-site
