Repository Real-Dev-Squad/website-www, pull requests merged in 2023-05, with the labels that each got.

#446 [Live-Site] Create the header component for live screen
  app/components/live-header.hbs
  app/components/live-header.js
  app/components/navbar.hbs
  app/components/navbar.js
  app/components/tab.hbs
  app/components/tabs.hbs
  app/constants/urls.js
  app/controllers/live.js
  app/router.js
  app/styles/app.css
  app/styles/live-header.module.css
  app/styles/tab.module.css
  app/styles/variables.css
  app/templates/live.hbs
  tests/acceptance/live-test.js
  tests/integration/components/live-header-test.js
Labels: live-site

#475 [Live-Site]Added feature flag for live site
  app/components/navbar.hbs
  app/components/navbar.js
  app/controllers/live.js
  app/routes/live.js
  tests/acceptance/live-test.js
  tests/unit/routes/live-test.js
Labels: live-site

#484 fix intro page
  js/intro.js
Labels: bug

#490 [Ember-Migration] Embroider Setup
  config/environment.js
  ember-cli-build.js
  package.json
  yarn.lock
Labels: ember-migration, config

#477 [Live-Site] create a modal for joining the live session
  app/components/live-join.hbs
  app/controllers/live.js
  app/styles/app.css
  app/styles/live-join.module.css
  app/templates/live.hbs
  tests/acceptance/live-test.js
  tests/unit/routes/live-test.js
Labels: live-site

#488 Sync dev to main
  events.html
  index.html
  intro.html
  join.html
  releases.html
Labels: deployments
