Repository Real-Dev-Squad/website-www, pull requests merged in 2023-11, with the labels that each got.

#724 [Ember-Migration] Footer Enhancement
  app/components/footer.hbs
  app/components/footer.js
  tests/acceptance/render-footer-dynamically-test.js
Labels: ember-migration

#726 [Ember-Migration] update:ember changes for main-section done
  app/components/header.hbs
  app/components/header.js
  app/styles/header.module.css
  public/assets/images/hero-community.png
  tests/acceptance/migration-changes-under-feature-flag-test.js
Labels: ember-migration

#725 [Ember-Migration] How join Section ember migration
  app/components/join-section.hbs
  app/components/join-section.js
  app/styles/join-section.module.css
  app/styles/variables.css
  tests/acceptance/migration-changes-under-feature-flag-test.js
Labels: ember-migration

#741 [Ember-Migration] Created "what is RealDevSquad section"
  app/components/description.hbs
  app/controllers/index.js
  app/styles/description.module.css
  app/templates/index.hbs
  tests/acceptance/migration-changes-under-feature-flag-test.js
  tests/unit/controllers/index-test.js
Labels: ember-migration

#747 Fix/async leaks warnings
  app/services/login.js
Labels: ember-branch

#748 [Live-Site] Fix role choose card width
  app/styles/live-join.module.css
  app/styles/live-roles.module.css
Labels: UI, live-site

#752 updated pull request template
  .github/Pull_Request_Template.md
Labels: ember-branch
